<style>
* {
  background-color: black;
  color:white;
}

div.blackblock {
  background-color: black;
  width: 800px;
  height: 358px;
}

</style>

{% extends "base.html" %}
{% block title %}Edit Home Description{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h1 class="display-4">Edit Home Description</h1>

<form method="POST" action="" name="">
  <div class="form-group">
    {{ render_field(form.home_description, class="form-control") }}
  </div>

  <input type="submit">

  <div class="blackblock">
  </div>

</form>
{% endblock %}
