{% extends "base.html" %}
{% block title %}Retrieve Questions{% endblock %}

{% block content %}

<style>
  *{
background: black;
}
</style>

<h1 style="color:gold" class="display-4">Retrieve Questions</h1>
<div>
  {% if count == 0 %}
  <p style="color:gold">There are no questions.</p>
  {% elif count == 1 %}
  <p style="color:gold">There is 1 question.</p>
  {% else %}
  <p style="color:gold">There are {{ count }} questions.</p>
  {% endif %}
</div>
<div>
  <table style="color:gold;text-align:center" class="table table-striped">
    <thead>
      <tr>
        <th>Queue</th>
        <th>Question</th>
        <th>Answer</th>
        <th>Was it in the chatbot?</th>
        <th>No.of requests</th>
        <th>Remarks</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for user in users_list %}
      <tr>
        <td>{{ user.get_user_id() }}</td>
        <td>{{ user.get_Question() }}</td>
        <td>{{ user.get_Answer() }}</td>
        <td>{{ user.get_Availability() }}</td>
        {% if user.get_NumberOfPeople() == "1" %}
        <td>1 to 10</td>
        {% elif user.get_NumberOfPeople() == "2" %}
        <td>11 to 20</td>
        {% elif user.get_NumberOfPeople() == "3" %}
        <td>21 to 30</td>
          {% elif user.get_NumberOfPeople() == "4" %}
        <td>Above 30</td>
        {% endif %}
        <td>{{ user.get_remarks() }}</td>
        <td><a href="/updateQuestion/{{user.get_user_id()}}" class="btn btn-warning">Update</a></td>
        <td>
          <form action="{{url_for('delete_question', id=user.get_user_id())}}" method="POST">
           <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{user.get_Question()}} {{user.get_Answer()}}?');">
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}


