
<nav class="navbar navbar-expand-sm bg-grey navbar-dark">
  <!-- Brand -->
  <!-- Links -->
  <a class="navbar-brand" href="/"><img style="width: 85px;" src="static/goldenlogo.png" alt=""> Home</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/Movies">Movies</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/MoviesStaff">MoviesStaff</a>
    </li>
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Update
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/retrieve_location">Update Location</a>
        <a class="dropdown-item" href="/retrieve_time">Update Time</a>
        <a class="dropdown-item" href="/add_time">Add Time</a>
        <a class="dropdown-item" href="/add_location">Add location</a>
        <a class="dropdown-item" href="/code">Add Codes</a>
        <a class="dropdown-item" href="/retrieve">Update Codes</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" style="opacity: 0.6; cursor: not-allowed;">Staff</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/ticket">My Ticket</a>
    </li>
  </ul>
</nav>

