{% extends "base.html" %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<style>
 body{
  background:#333333;
  color:#fff;
}
</style>
<form method="POST" action="">

    <h3> Enter the 5 Different Date</h3>
    <p>{{ render_field(form.date1) }}</p>
    <p>{{ render_field(form.date2) }}</p>
    <p>{{ render_field(form.date3) }}</p>
    <p>{{ render_field(form.date4) }}</p>
    <p>{{ render_field(form.date5) }}</p>
    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
{% endblock %}
