<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Choose Movies{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
  background-color: black;
  color:white;
}
</style>
</head>

<body>
{% extends "base.html" %}

{% block content %}
    {% for movieinfo in movieinfo_list %}
<div class="ChooseMovie">
    <div class="MovieName">
        <h5>{{ movieinfo.get_moviename() }}</h5>
        <h6>{{ movieinfo.get_movieagerating() }}<br>{{ movieinfo.get_movieduration() }}</h6>
        <p><a href="UpdateMovie/{{ movieinfo.get_movie_id() }}" >Edit</a></p>
        <hr>

    </div>
</div>
    {% endfor %}
        <p><a href="CreateMovies" >Create Movies</a></p>
{% endblock %}

</body>
</html>
