<style>

* {
  background-color: black;
  color:white;
}
</style>

{% extends "base.html" %}
{% block title %}Edit Rooms{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h1 class="display-4">Edit Rooms</h1>

<form method="POST" action="" name="" enctype="multipart/form-data">
  <div class="form-group">
    {{ render_field(form.room_title, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.small_roominfo, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.small_roomprice, class="form-control") }}
  </div>
  <div class="form-group">
    <h5>Small Room Image 1</h5>
    {{ form.small_roomimage1 }}
  </div>
  <div class="form-group">
    <h5>Small Room Image 2</h5>
    {{ form.small_roomimage2 }}
  </div>
  <div class="form-group">
    {{ render_field(form.med_roominfo, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.med_roomprice, class="form-control") }}
  </div>
  <div class="form-group">
    <h5>Medium Room Image</h5>
    {{ form.med_roomimage }}
  </div>
  <div class="form-group">
    {{ render_field(form.large_roominfo, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.large_roomprice, class="form-control") }}
  </div>
  <div class="form-group">
    <h5>Large Room Image 1</h5>
    {{ form.large_roomimage1 }}
  </div>
  <div class="form-group">
    <h5>Large Room Image 2</h5>
    {{ form.large_roomimage2 }}
  </div>
  <input type="submit">
</form>
{% endblock %}
