{% extends "base.html" %}
{% block title %}Create Questions{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<style>
  *{
background: black;
}
</style>

<h1 style="color:gold" class="display-4">Update Review</h1>

<form method="POST" action="">
  <div style="color:gold" class="form-group">
    {{ render_field(form.rating, class="form-control") }}
  </div>
  <div style="color:gold" class="form-group">
    {{ render_field(form.review, class="form-control") }}
  </div>
  <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
{% endblock %}
