{% extends "base.html" %}
{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<style>
 body{
  background:#333333;
  color:#fff;
}
</style>
<form method="POST" action="">
    <h3 style="color:#FDD017" > Update Time</h3>
    <p>{{ render_field(form.time1) }}</p>
    <p>{{ render_field(form.time2) }}</p>
    <p>{{ render_field(form.time3) }}</p>
    <p>{{ render_field(form.time4) }}</p>
    <p>{{ render_field(form.time5) }}</p>
    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
{% endblock %}
